@import "tailwindcss";

@theme {
  --color-primary: #CC0000;
  --color-cream: #FEF9E7;
  --color-base-white: #FFFFFF;
  --color-off-white: #F9F9F9;
  --color-tesla-black: #171A20;
  --color-tesla-grey: #393C41;
  --color-gray-100: #F3F4F6;
  --color-gray-200: #E5E7EB;

  --font-sans: var(--font-outfit), 'Outfit', sans-serif;
}

@layer base {


  html,
  body {
    overflow-x: hidden;
    @apply bg-base-white text-tesla-black antialiased;
    font-family: var(--font-sans);
  }
}